body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('bohemian-rhapsody-movie-background-wallpaper-65807-68045-hd-wallpapers.jpg');
  color: white;
  background-size: 100%;
}

input {
  width: 97%;
  padding: 16px 8px;
  font-size: 16px;
  outline: none;
  background-color: rgb(96, 12, 129);
  border: none;
  color: #5C393D;
}

button {
  background: #34bbe2;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border:0;
  transition: 0.2s ease all;
}

ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}


li {
  position: relative;
  border-radius: 8px;
  color: #303030;
  padding: 1em;
  display: block;
  text-decoration: none;
  border: 1px dashed #3b9fe2;
  background: rgba(59,159,226,.15);
}

li:hover {
  outline: none;
  background: white;
  color: #3b9fe2;
  box-shadow: 0 0 .3em silver;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bs-col-6-knockoff {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.bs-row-knockoff {
  margin-right: -15px;
  margin-left: -15px;
}

.bs-row-knockoff:before, .bs-row-knockoff:after, .bs-container-knockoff:before, .bs-container-knockoff:after {
  display: table;
  content: " ";
}

.bs-row-knockoff:after, .bs-container-knockoff:after {
  clear: both;
}

.bs-container-knockoff {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .bs-container-knockoff {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .bs-container-knockoff {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .bs-container-knockoff {
    width: 1170px;
  }
}