body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('bohemian-rhapsody-movie-background-wallpaper-65807-68045-hd-wallpapers.jpg');
  color: white;
  background-size: 100%;
}

li:hover {
  background-color: #6e7aea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bs-col-6-knockoff {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.bs-row-knockoff {
  margin-right: -15px;
  margin-left: -15px;
}

.bs-row-knockoff:before, .bs-row-knockoff:after, .bs-container-knockoff:before, .bs-container-knockoff:after {
  display: table;
  content: " ";
}

.bs-row-knockoff:after, .bs-container-knockoff:after {
  clear: both;
}

.bs-container-knockoff {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .bs-container-knockoff {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .bs-container-knockoff {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .bs-container-knockoff {
    width: 1170px;
  }
}